datasets/
notebooks/
__pycache__/
.venv/
sql/
migrations_ids.txt
.env
src/mwamko_ai/__pycache__/
src/mwamko_ai/agents/__pycache__/
src/mwamko_ai/alembic/__pycache__/
src/mwamko_ai/routers/__pycache__/
mwamkoapp/
users.txt
src/mwamko_ai/__pycache__/