datasets/
notebooks/
__pycache__/
mwamko_venv/
sql/
migrations_ids.txt
mwamko-ai-backend/.env
mwamko-ai-backend/__pycache__/
mwamko-ai-backend/agents/__pycache__/
mwamko-ai-backend/alembic/__pycache__/
mwamko-ai-backend/routers/__pycache__/
mwamkoapp/
users.txt